:root {
  --primary-text-color: #2e2f42;
  --hero-text: #ffffff;
  --accent-color: #4d5ae5;
  --button-hover-focus: #404bbf;
  --title-text-color: #434455;
}

body {
  background-color: var(--hero-text);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}

.navigation-button {
  cursor: pointer;
}
/* Header */

.logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
}

.logo.studio {
  color: var(--primary-text-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  flex: none;
}
.logo .link:focus,
.logo .link:focus {
  color: var(--button-hover-focus);
}
.site-nav .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  flex: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--button-hover-focus);
}
.site-nav .link .current {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 5;
  letter-spacing: 0.02em;
  flex: none;
}
.header-address {
  font-style: normal;
}

.header-cont-list .link:hover,
.header-cont-list .link:focus {
  color: var(--button-hover-focus);
}
.header-cont-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* button */

.button .link {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #f4f4fd;
  color: var(--accent-color);
}
.button .link :hover,
.button .link:focus {
  color: var(--hero-text);
}
.button .link :hover,
.button .link :focus {
  background-color: var(--button-hover-focus);
}

/* Portfolio */

.works-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.works-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

/* Footer */
.footer {
  background-color: var(--primary-text-color);
}

.footer .link {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-color);
}
.footer-logo-studio {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
